In [3]:
import numpy as np
import pandas as pd

In [13]:
import chardet

# Determine the encoding of TxAntennaDAB.csv
with open('/home/karen/Documents/Datasets/gui/TxParamsDAB.csv', 'rb') as file:
    result = chardet.detect(file.read())

# Print the detected encoding
print(result['encoding'])

ISO-8859-1

In [23]:
import csv
import json
 

# Function to convert a CSV to JSON
# Takes the file paths as arguments
def make_json(csvFilePath, jsonFilePath, encoding='utf-8'):
     
    # create a dictionary
    data = {}
     
    # Open a csv reader called DictReader
    with open(csvFilePath, encoding=encoding) as csvf:
        csvReader = csv.DictReader(csvf)
         
        # Convert each row into a dictionary
        # and add it to data
        for rows in csvReader:
             
            # Assuming a column named 'No' to
            # be the primary key
            key = rows['id']
            data[key] = rows
 
    # Open a json writer, and use the json.dumps()
    # function to dump data
    with open(jsonFilePath, 'w', encoding=encoding) as jsonf:
        jsonf.write(json.dumps(data, indent=4))
         
# Driver Code
 
# Decide the two file paths according to your
# computer system
csvFilePath1 = r'/home/karen/Documents/Datasets/gui/TxAntennaDAB.csv'
csvFilePath2 = r'/home/karen/Documents/Datasets/gui/TxParamsDAB.csv'
jsonFilePath1 = r'/home/karen/Documents/Datasets/gui/converted_TxAntennaDAB.json'
jsonFilePath2 = r'/home/karen/Documents/Datasets/gui/converted_TxParamsDAB.json'
 
# Call the make_json function
make_json(csvFilePath1, jsonFilePath1)
make_json(csvFilePath2, jsonFilePath2, encoding='ISO-8859-1')

In [15]:
antenna_df = pd.read_csv('/home/karen/Documents/Datasets/gui/TxAntennaDAB.csv', encoding='utf-8')
params_df = pd.read_csv('/home/karen/Documents/Datasets/gui/TxParamsDAB.csv', encoding='ISO-8859-1')

In [16]:
antenna_df

,id,NGR,Longitude/Latitude,Site Height,In-Use Ae Ht,In-Use ERP Total,Dir Max ERP,0,10,20,...,280,290,300,310,320,330,340,350,Lat,Long
0,745392,NO76418994,002W23 24 57N00 00,325,230,"2.000,000",43.0,1.1,1.7,2.4,...,6.6,3.2,1.1,0.4,0.0,0.0,0.4,1.0,56.999987,-2.389944
1,745393,NJ76043299,002W24 01 57N23 12,245,138,"8.510,009",140.0,0.1,0.5,1.0,...,8.2,6.6,4.8,3.1,1.7,0.8,0.2,0.0,57.386674,-2.400197
2,745394,NJ98315700,002W01 48 57N36 11,225,35,"1.000,000",55.0,0.1,0.0,0.0,...,6.5,5.5,4.3,3.2,2.1,1.3,0.8,0.3,57.602976,-2.029937
3,745395,NJ94270253,002W05 46 57N06 49,87,41,"1.199,999",355.0,0.2,0.5,1.0,...,5.4,3.8,2.4,1.3,0.6,0.2,0.0,0.0,57.113656,-2.096244
4,745396,NS29181617,004W41 59 55N24 35,273,34,"4.000,000",70.0,0.4,0.0,0.0,...,6.4,6.0,4.9,3.8,3.0,2.0,1.2,0.7,55.409586,-4.699754
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1209,746601,SJ669343,002W29 37 52N54 18,100,24,"0.554,794",65.0,1.7,5.7,1.6,...,0.3,1.1,1.3,3.7,4.9,2.5,3.2,13.2,52.905093,-2.493571
1210,746602,SJ26613178,003W05 31 52N52 42,305,27,"0.640,000",100.0,3.8,3.0,2.0,...,6.7,7.0,7.0,7.0,6.7,6.4,6.0,4.9,52.878444,-3.091941
1211,746603,SO92279444,002W06 56 52N32 52,225,32,"0.600,000",180.0,1.6,1.8,2.0,...,8.0,1.1,0.3,0.5,0.9,1.1,1.2,1.3,52.547739,-2.115424
1212,746604,SJ62890828,002W33 01 52N40 15,396,48,"1.954,474",NaN,3.7,5.5,4.3,...,5.2,3.8,4.5,5.5,2.8,0.7,0.0,1.1,52.670935,-2.550228
1213,746605,SO96818872,002W02 54 52N29 47,267,40,"4.000,000",300.0,1.0,1.7,2.5,...,0.2,0.1,0.0,0.1,0.1,0.2,0.4,0.6,52.496364,-2.048417

In [17]:
params_df

,id,Date,Ensemble,Licence,Ensemble Area,EID,Transmitter Area,Site,Freq.,Block,...,Data Serv Label11,Data SId 11 (Hex),Data Serv Label12,Data SId 12 (Hex),Data Serv Label13,Data SId 13 (Hex),Data Serv Label14,Data SId 14 (Hex),Data Serv Label15,Data SId 15 (Hex)
0,745392,23/11/2001,Aberdeen,DL000024,Aberdeen,C19A,Aberdeen,Durris,220.352,11C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,745393,22/11/2001,Aberdeen,DL000024,Aberdeen,C19A,Aberdeen,Meldrum,220.352,11C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,745394,21/11/2001,Aberdeen,DL000024,Aberdeen,C19A,Aberdeen,Mormond Hill DAB,220.352,11C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,745395,24/5/2016,Aberdeen,DL000024,Aberdeen,C19A,Redmoss,Redmoss,220.352,11C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,745396,4/4/2002,Ayr,DL000027,Ayr,C19B,Ayr,Brown Carrick Hill,218.640,11B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1209,746601,16/6/2017,Wolv'ton & Shrop,DL000007,Wolverhampton Shropshire,C18B,Market Drayton,Market Drayton,218.640,11B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1210,746602,7/12/2016,Wolv'ton & Shrop,DL000007,Wolverhampton Shropshire,C18B,Oswestry,Rhosfach Farm,218.640,11B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1211,746603,28/4/2016,Wolv'ton & Shrop,DL000007,Wolverhampton Shropshire,C18B,Birmingham,Sedgley Beacon Lane,218.640,11B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1212,746604,17/1/2001,Wolv'ton & Shrop,DL000007,Wolverhampton Shropshire,C18B,Shrewsbury,The Wrekin,218.640,11B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1213,746605,18/1/2001,Wolv'ton & Shrop,DL000007,Wolverhampton Shropshire,C18B,Wolverhampton,Turners Hill A,218.640,11B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
antenna_df.dtypes

id                      int64
NGR                    object
Longitude/Latitude     object
Site Height             int64
In-Use Ae Ht            int64
In-Use ERP Total       object
Dir Max ERP           float64
0                     float64
10                    float64
20                    float64
30                    float64
40                    float64
50                    float64
60                    float64
70                    float64
80                    float64
90                    float64
100                   float64
110                   float64
120                   float64
130                   float64
140                   float64
150                   float64
160                   float64
170                   float64
180                   float64
190                   float64
200                   float64
210                   float64
220                   float64
230                   float64
240                   float64
250                   float64
260                   float64
270                   float64
280                   float64
290                   float64
300                   float64
310                   float64
320                   float64
330                   float64
340                   float64
350                   float64
Lat                   float64
Long                  float64
dtype: object

In [27]:
antenna_df.describe()

,id,Site Height,In-Use Ae Ht,Dir Max ERP,0,10,20,30,40,50,...,280,290,300,310,320,330,340,350,Lat,Long
count,1214.000000,1214.000000,1214.000000,852.000000,1114.000000,1114.000000,1114.000000,1114.000000,1114.000000,1114.000000,...,1114.000000,1114.000000,1114.000000,1114.000000,1114.000000,1114.000000,1114.000000,1114.000000,1214.000000,1214.000000
mean,745998.500000,162.078254,62.818781,182.923709,3.645117,3.738932,3.700485,3.762639,4.038205,4.270907,...,4.167504,4.173582,4.107531,4.083662,3.944820,3.831912,3.767926,3.676086,52.714901,-1.922294
std,350.595921,109.256694,54.726059,117.854718,5.513734,5.449619,5.303029,5.283740,5.340427,5.477837,...,5.687693,5.600282,5.485291,5.448699,5.380043,5.335404,5.522859,5.626743,1.755336,1.898166
min,745392.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,49.246023,-7.642326
25%,745695.250000,81.250000,32.000000,78.750000,0.500000,0.500000,0.500000,0.500000,0.600000,0.700000,...,0.500000,0.500000,0.700000,0.600000,0.700000,0.700000,0.425000,0.500000,51.409925,-3.218938
50%,745998.500000,142.000000,44.000000,190.000000,1.500000,1.700000,1.600000,1.500000,2.000000,2.350000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.500000,52.294288,-1.794093
75%,746301.750000,225.000000,63.000000,300.000000,4.380000,4.650000,4.750000,4.900000,5.900000,5.900000,...,6.000000,5.700000,5.900000,5.500000,4.900000,4.550000,4.400000,4.600000,53.755743,-0.426217
max,746605.000000,556.000000,291.000000,355.000000,28.200000,30.500000,28.500000,29.000000,28.000000,27.200000,...,39.100000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,60.140298,1.722916

In [29]:
antenna_df.columns

Index(['id', 'NGR', 'Longitude/Latitude', 'Site Height', 'In-Use Ae Ht',
       'In-Use ERP Total', 'Dir Max ERP', '0', '10', '20', '30', '40', '50',
       '60', '70', '80', '90', '100', '110', '120', '130', '140', '150', '160',
       '170', '180', '190', '200', '210', '220', '230', '240', '250', '260',
       '270', '280', '290', '300', '310', '320', '330', '340', '350', 'Lat',
       'Long'],
      dtype='object')

In [31]:
antenna_df.isnull().sum()

id                      0
NGR                     0
Longitude/Latitude      0
Site Height             0
In-Use Ae Ht            0
In-Use ERP Total        4
Dir Max ERP           362
0                     100
10                    100
20                    100
30                    100
40                    100
50                    100
60                    100
70                    100
80                    100
90                    100
100                   100
110                   100
120                   100
130                   100
140                   100
150                   100
160                   100
170                   100
180                   100
190                   100
200                   100
210                   100
220                   100
230                   100
240                   100
250                   100
260                   100
270                   100
280                   100
290                   100
300                   100
310                   100
320                   100
330                   100
340                   100
350                   100
Lat                     0
Long                    0
dtype: int64